In [2]:
import pandas as pd
import numpy as np
import statistics as stats

In [7]:
data = pd.read_csv("../data/80ratinglistings.csv")

In [8]:
# creates a list to hold all variables to get descriptive statistics on
focusVariables = ["accommodates", "bathrooms", "bedrooms", "beds", "price", "security_deposit", "cleaning_fee", 
                   "number_of_reviews", "review_scores_rating", "review_scores_cleanliness", "review_scores_checkin", 
                   "review_scores_communication", "review_scores_location", "review_scores_value"]

cleanData = data[focusVariables].copy()

In [13]:
# Removes '$', ',', ' ', and replaces with '' (empty)
cleanData = cleanData.replace(["\$", ",", " "], "", regex=True)

,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,number_of_reviews,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,4,1.0,1.0,1,85.00,NaN,NaN,207,95,10.0,10.0,10.0,9.0,10.0
1,4,1.0,1.0,1,150.00,100.00,40.00,43,96,10.0,10.0,10.0,10.0,10.0
2,11,4.5,5.0,7,975.00,1000.00,300.00,20,97,10.0,10.0,10.0,10.0,10.0
3,6,2.0,3.0,3,450.00,700.00,125.00,38,92,9.0,10.0,10.0,9.0,9.0
4,2,1.0,1.0,1,120.00,NaN,40.00,17,95,10.0,10.0,10.0,10.0,10.0

In [15]:
# Export clean data to CSV
export_filename = '../data/clean_listings_data.csv'
cleanData.to_csv(export_filename, index=False)